/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-mono-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-700 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/assets/fonts/roboto-mono-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-mono-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-italic - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/roboto-mono-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-mono-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
  background-color: #FAFCFA;
  color: #2D332C;
  font: 14px/1.5 "Roboto Mono", "Open Sans", Arial, sans-serif;
}

header {
  width: 210px;
}

header p.view {
  visibility: hidden;
  position: relative;
}

footer p small{
  visibility: hidden;
  position: relative;
}

footer p small:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "© 2021 NVIB LLC";
}

a:link { 
  color: #3083DC;
} 

a:visited {
color: #ECA72C; 
}

a:hover { 
  color: #3083DC 
}

a:active { 
  color: #3083DC; 
}

h1 a:link {
  color: #2D332C;
  text-decoration: underline;
}

h1 a:visited {
  color: #2D332C;
  text-decoration: underline;
}

h1 a:hover {
  color: #3083DC;
  text-decoration: underline;
}

h1 a:active {
  color: #2D332C;
  text-decoration: underline;
}

figcaption {
 color: #678D58;
 letter-spacing: -1px;
}

figure.embiggen img:hover {
  scale: 2
}

section {
  width: 600px;
  border-style: none none none solid;
  border-width: .5px;
  padding: 0px 0px 0px 20px;
  border-color: #2D332C;
}

img.headshot {
  max-width: 70%; 
}

figure.team {
  transform: translate(10%);
}
